# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#

source/[Ll]ibrary/
source/[Tt]emp/
source/[Oo]bj/
source/[Bb]uild/
source/[Bb]uilds/
source/[Ll]ogs/
source/[Mm]emoryCaptures/
source/[Uu]serSettings

source/[Aa]ssets/AssetStoreTools*
source/[Aa]ssets/Plugins/Editor/JetBrains*

source/.vscode/

source/.gradle/

ExportedObj/
source/.consulo/
source/*.csproj
source/*.unityproj
source/*.sln
source/*.suo
source/*.tmp
source/*.user
source/*.userprefs
source/*.pidb
source/*.booproj
source/*.svd
source/*.pdb
source/*.mdb
source/*.opendb
source/*.VC.db

source/*.pidb.meta
source/*.pdb.meta
source/*.mdb.meta

source/sysinfo.txt

source/*.apk
source/*.unitypackage

source/crashlytics-build.properties

